<section class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#"><b>css</b></a></li>
            <li><a href="#">html</a></li>
            <li><a href="#">javascript</a></li>
            <li><a href="#">ruby</a></li>
        </ul>
    </nav>


    <img src="assets/AA_Times_Logo.png" alt="a/A logo" class="logo">
    <!--%#= image_tag('AA_Times_Logo.png', :class => "logo", :alt => "a/A logo")  %-->
    <nav class="masthead-links">
        <ul>
            <li><p>Tuesday, October 18, 2016</p></li>
            <li><i class="far fa-newspaper"></i><a href="#">Today’s Paper</a></li>
            <li><i class="fas fa-video"></i><a href="#">Video</a></li>
            <li>77°F</li>
            <li>AAO <strong>+100%</strong></li>
        </ul>
    </nav>
</section>